header{
    background-color: rgb(17, 57, 40);
    color: white;
    min-height: 9vh;
}
.jumbo{
    background-color: rgb(111, 162, 35);
    min-height: 40vh;
    color: white;
}
.img{
    width: 20%;
}
.info{
    min-height: 9vh;
    background-color: rgb(47, 51, 92);
    color: white;
}